/* stylelint-disable selector-class-pattern */
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  min-height: 100vh;
  padding: 0 0.5rem;
  font-family: cursive;
}

.main {
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 5rem 0;
}

.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100px;
  border-top: 1px solid #eaeaea;
}

.footer > a {
  display: flex;
  flex-grow: 1;
  align-items: center;
  justify-content: center;
}

.title {
  margin: 0;
  font-size: 4rem;
  line-height: 1.15;
  text-align: center;
}

.title > a {
  color: #0070f3;
  text-decoration: none;
}

.title > a:hover,
.title > a:focus,
.title > a:active {
  text-decoration: underline;
}

.description {
  font-size: 1.5rem;
  line-height: 1.5;
  text-align: center;
}

.code {
  padding: 0.75rem;
  font-family: Menlo, 'Monaco, Lucida Console', 'Liberation Mono', 'DejaVu Sans Mono',
    'Bitstream Vera Sans Mono', 'Courier New', monospace;
  font-size: 1.1rem;
  border-radius: 5px;
}

.grid {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  max-width: 800px;
  margin-top: 3rem;
}

@media (width <= 600px) {
  .grid {
    flex-direction: column;
    width: 100%;
  }
}

.card {
  width: 45%;
  padding: 1.5rem;
  margin: 1rem;
  color: inherit;
  text-align: left;
  text-decoration: none;
  border: 1px solid #eaeaea;
  border-radius: 10px;
  transition: color 0.15s ease, border-color 0.15s ease;
}

.card:hover,
.card:focus,
.card:active {
  color: #0070f3;
  border-color: #0070f3;
}

.card > h2 {
  margin: 0 0 1rem;
  font-size: 1.5rem;
}

.card > p {
  margin: 0;
  font-size: 1.25rem;
  line-height: 1.5;
}

.logo {
  height: 1em;
  margin-left: 0.5rem;
}

/* -- Board, cell and disc -- */
.board {
  background-color: #078846;
  width: 640px;
  height: 640px;
}

.cell {
  border: 1px solid #000;
  width: 80px;
  height: 80px;
  display: inline-flex;
  vertical-align: top;
}

.disc {
  width: 4rem;
  height: 4rem;
  border: 1px solid #303030;
  border-radius: 100%;
  margin: auto;
  display: flex;
}

.valid {
  opacity: 0.5;
  border: 1px solid #303030;
  outline: 1px solid #303030;
  outline-offset: -0.3rem;
  background-color: transparent;
}

.current {
  height: 5px;
  width: 5px;
  background-color: #f00;
  border-radius: 100%;
  margin: auto;
}

/* -- Score display -- */
.row {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  align-content: space-between;
  justify-content: center;
  user-select: none;
}

.scoreBorder {
  width: 110px;
  height: 100px;
  background-color: #303030;
  padding: 0.5rem;
  margin: 0.3rem;
  display: flex;
  color: #fff;
  font-size: 1rem;
  border-radius: 5%;
}

/* Popup box */
.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 300px;
  padding: 20px;
  background-color: #9a9a9af1;
  border: 1px solid #303030;
  border-radius: 5%;
  text-align: center;
  color: #000;
}

.modalContent {
  font-size: 1rem;
  width: 100%;
}

.close {
  background-color: #fff;
  color: #000;
  padding: 5px 20px;
  border-radius: 5%;
  cursor: pointer;
}

/* Responsive */
@media all and (width < 900px) {
  .scoreBorder {
    max-width: 640px;
    max-height: 90px;
    width: 100%;
    height: 100%;
  }

  .scoreBorder .disc {
    margin-right: 0;
  }

  .score {
    margin-right: auto;
  }
}

@media all and (width < 700px), (height < 700px) {
  .board {
    width: 480px;
    height: 480px;
  }

  .cell {
    width: 60px;
    height: 60px;
  }

  .disc {
    width: 3rem;
    height: 3rem;
  }

  .scoreBorder {
    max-width: 480px;
    max-height: 80px;
  }
}

@media all and (width < 500px), (height < 500px) {
  .board {
    width: 320px;
    height: 320px;
  }

  .cell {
    width: 40px;
    height: 40px;
  }

  .disc {
    width: 2rem;
    height: 2rem;
  }

  .scoreBorder {
    max-width: 320px;
    max-height: 60px;
  }
}
